[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
pylint = "*"
black = "*"
tomli = "*"
mongomock = "*"

[requires]
python_version = "3.10"